@font-face {
	font-family: Montserrat Medium;
	src: url('./assests/Montserrat-Medium.ttf');
}
:root{
	--selection-color: #0C4DB5;
	--non-selection-color: #979292;
}

*{
	margin: 0;
	padding: 0;
	font-family: Montserrat Medium;
	user-select: none;
	color: var( --non-selection-color);
}

.navBarShown{
  	position: sticky;
	top:0;
	left: 0;
	display:flex;
	flex-direction: column;
	height: 100vh;
	width: 18vw;
	padding-top: 1vw;
	overflow-x:hidden;
	border: 1px solid black;
	transition: ease-in-out, 0.4s;
}

.navBarHidden{
	position: sticky;
	top:0;
	left: 0;
	display:flex;
	flex-direction: column;
	height: 100vh;
	width: 3.2vw;
	padding-top: 1vw;
	overflow-x:hidden;
	border: 1px solid black;
	transition: ease-in-out, 0.4s;
}

.navBarContent{
	display: flex;
	flex-direction: row;
	margin: 10 10 1vw 0 ;
}
.material-icons{
	position: relative;
	font-size: 30px;
	/* padding-top: 0.1vw; */
	padding-left: 1.2vw;
	padding-right: 1.2vw;
}

.navBarContentText{
	position: relative;
	font-size: 1.2vw;
}

