@font-face {
	font-family: Lemon Milk Medium;
	src: url("./assest/LemonMilkMedium-mLZYV.otf");
}
@font-face {
	font-family: Lemon Milk Regular;
	src: url("./assest/LemonMilkRegular-X3XE2.otf");
}
h1, h4{
	
	text-align: center;
	user-select: none;
}
h1{
	position: relative;
	font-family: Lemon Milk Medium;
	margin-top: 45vh;
	font-size: 2.5vw;
	letter-spacing: 0.1vw;
}
h4{
	position: absolute;
	font-family: Lemon Milk Regular;
	font-size: 1vw;
	letter-spacing: 0.3vw;
	left:40%;
	margin-top: -1px;
}
